<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.ex00.mappers.BookMapper">

    <!-- 모든 책 조회 -->
    <select id="findAll" resultType="org.zerock.ex00.domain.BookVO">
        SELECT * FROM books
    </select>

    <!-- ID로 책 조회 -->
    <select id="findById" resultType="org.zerock.ex00.domain.BookVO" parameterType="Long">
        SELECT * FROM books WHERE id = #{id}
    </select>

    <!-- 새로운 책 삽입 -->
    <insert id="save" parameterType="org.zerock.ex00.domain.BookVO">
        INSERT INTO books (title, author, publisher, publish_date, image_url, borrowed, summary, buy)
        VALUES (#{title}, #{author}, #{publisher}, #{publishDate}, #{imageUrl}, #{borrowed}, #{summary}, #{buy})
    </insert>

    <!-- 책 정보 업데이트 -->
    <update id="update" parameterType="org.zerock.ex00.domain.BookVO">
        UPDATE books
        SET title = #{title},
        author = #{author},
        publisher = #{publisher},
        publish_date = #{publishDate},
        image_url = #{imageUrl},
        borrowed = #{borrowed},
        borrowed_by_user_id = #{borrowedByUserId},
        summary = #{summary}, <!-- summary 필드 추가 -->
        buy = #{buy}
        WHERE id = #{id}
    </update>

    <!-- 책의 대출 상태 업데이트 -->
    <update id="updateBorrowStatus" parameterType="map">
        UPDATE books SET borrowed = #{borrowed} WHERE id = #{id}
    </update>

    <!-- ID로 책 삭제 -->
    <delete id="deleteById" parameterType="Long">
        DELETE FROM books WHERE id = #{id}
    </delete>

    <!-- 특정 사용자 ID로 대출된 책 조회 -->
    <select id="findBookByUserId" resultType="org.zerock.ex00.domain.BookVO" parameterType="Long">
        SELECT * FROM books WHERE borrowed_by_user_id = #{userId}
    </select>

    <!-- 대출 상태가 true인 책을 특정 사용자 ID로 조회 -->
    <select id="findBorrowedBooksByUserId" resultType="org.zerock.ex00.domain.BookVO" parameterType="String">
        SELECT * FROM books WHERE borrowed_by_user_id = #{userId} AND borrowed = true
    </select>

    <!--  도서 대여 쿼리  -->
    <update id="borrowBook" parameterType="map">
        UPDATE books
        SET borrowed = true, borrowed_by_user_id = #{userId}
        WHERE id = #{bookId}
    </update>

    <!-- 도서 반납 쿼리 -->
    <update id="returnBook" parameterType="int">
        UPDATE books SET borrowed = false, borrowed_by_user_id = NULL WHERE id = #{bookId}
    </update>


</mapper>
