
.man_box {
    width: 100%;
    height: auto;
    padding-top: 42px;
}

.man_container {
    width: 1200px;
    margin: 0 auto;
}

.man_inner {
    width: 1000px;
    margin: 0 auto;
}

.man_top {
    height: 98px;
}

.man_top h1 {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.01em;
    font-weight: bold;
}

.man_top p {
 margin-top: 10px;
}

.man_button {
    background-color: black;
}

/* active 색상 */

.nav-tabs .nav-link {
    color: #000000; /* 기본 검은색 텍스트 */
}

.nav-tabs .nav-link.active {
    color: #000000; /* 활성화된 탭도 검은색 텍스트 */
    background-color: #fff; /* 활성화된 탭의 배경색 */
    border-color: #dee2e6 #dee2e6 #000; /* 테두리 색상 */
}


/* prod_item */

.prod_list {
    padding-top: 30px;
    border-top: 1px solid #d5d5d5;
    height: 2870px;
    overflow: hidden;
}

.prod_item {
    width: 100%;
    margin: 0;
    display: flex;
    border: 1px solid #e0e0e0;
    flex-direction: column;
    position: relative;
}

.prod_img_box {
    max-width: 674px;
    height: 140px;
    position: relative;

}

.prod_thumb_box {
    width: 142px;
}

.prod_link {
    display: block;
    height: 100%;
}

.prod_link .img_box {
    width: 80px;
    height: 100px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
}

.prod_link .img_box img {
    width: 80px;
    height: 100px;
}

.prod_info_box {
    /*overflow: hidden;*/
    position: absolute;
    top: 20%;
    left: 30%;
    height: 100px;
    width: 60%;
    text-align: left;
}

.prod_info_box_title {
    position: relative;

}

.prod_name {
    display: block;
    /*overflow: hidden;*/
    max-height: 46px;
    line-height: 23px;
    white-space: normal;
    word-break: break-all;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
    font-weight: bold;
}

.prod_author {
    position: absolute;
    left: 0;
    color: #333333;
    font-weight: bold;
}

.prod_status .status {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    color: black;
    text-align: center;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    font-weight: bold;
}

.prod_btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: absolute;
    width: 240px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.prod_btn button {
    width: 110px;
    height: 40px;
    display: block;
}

.prod_btn button:nth-child(1) {
    margin-bottom: 20px;
}

.prod_box_link {
    display: inline-block;
    width: 100%;
    height: 200px;
}
